.name-placeholder {
  .title {
    display: block;
    padding-top: 30%;
    font-weight: 100;
    font-size: 6vw;
    line-height: 1em;
    text-transform: uppercase;
    font-family: "" Karla ",sans-serif";
    color: #a2834e;
    font-style: normal;
    letter-spacing: 3px;
    margin-bottom: 16px;
  }
}
